/* Media queries */

@media screen and (min-width: 576px) {
    .logo {
        height: 80px;
    }

    .logo svg {
        width: 80px;
    }

    .profile_pic-container {
        max-width: 17rem;
    }
}

@media screen and (min-width: 768px) {
    section {
        margin: 0 6rem;
    }

    .logo {
        height: 90px;
    }

    .logo svg {
        width: 90px;
    }

    .profile_pic-container {
        max-width: 22rem;
    }

    .section-text {
        flex: 1 0 auto;
    }

    .section_text-p1 {
        font-size: 1.2rem;
    }

    .section_text-title {
        font-size: 3rem;
    }

    .btn {
        font-size: 1rem;
    }

    svg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 992px) {
    /* .profile_pic-container {
        max-width: 25rem;
    } */
}

@media screen and (min-width: 1200px) {
    header {
        margin-top: 2rem;
    }

    .desktop-navigation {
        display: block;
    }

    .hamburger-container {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        gap: 1rem;
    }

    .nav-links:first-child {
        border: none;
    }

    .nav-link {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .nav-link a {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .nav-link a:hover {
        text-decoration: underline;
        color: var(--primary-light-color);
    }

    .about-section-container {
        justify-content: flex-start;
        gap: 5rem;
    }

    .pic-container {
        margin: 0;
        width: 25rem;
        height: 25rem;
    }

    .about-details-container {
        max-width: 50%;
    }

    .footer-nav .nav-links {
        max-width: 50%;
        margin: 0 auto;
    } 

    .footer-nav .nav-link a {
        font-size: 1.25rem;
    }

    .footer-nav .nav-link a:hover {
        color: var(--light-gray-color);
    }
}

@media screen and (min-width: 1400px) {
    .about-section-container {
        gap: 10rem;
    }
}